$yellow:#fffb19;
$blanco: #ffffff;
$negro : #34393F;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}


.jumbotron{
    background-color: $yellow;
    color: $negro;
    /*margin-top: 50px;*/
    @include margenes(50px, 10px);
}
.card-hotel{
 flex: 1 300px; 
 /*padding: 2px 0px 2px 0px;*//*top, left,right,bottom*/
/* margin-top: 10px;*/ 
 @include margenes(10px, 0px); 
}
footer{
    padding: 10px 10px 0 10px;
    background-color:$negro;
    /*margin-bottom: 0px;
    margin-top: 10px;*/
    @include margenes(10px, 0px);
    color: $blanco;
}
 a, a:hover {
    text-decoration: none;
    color: $negro;
}
footer a, footer a:hover {
    text-decoration: none;
    color: $blanco;
}
.btn-reserva{
 width: 100%;
 border-radius: 0px;
}
.footer-address-icon{
    padding-right: 10px;  
}
.card-img-top{
    padding-top: 10px;
    padding-bottom: 5px;
}

.carousel {
    width: 100%;
}
.carousel-item img {
    width: 100%;    
}
.carousel {
   /* margin-bottom: 15px;*/
   @include margenes(0px, 15px);

}

.display-5{
color: aliceblue;
font-weight: 500;
background-color: rgba(0, 0, 0, 0.2);
padding: 2px 10px 2px 10px;
}
.carousel-indicators{
    bottom: 15%;
}
.tab-content{
    padding-top: 10px;
}