@yellow: #fffa19;
@blanco: #ffffff;
@negro : #34393F;

.mixin margenes(@top, @bottom){
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-color: @yellow;
    color: @negro;
    .margenes(50px, 0px);
}
  
  .card-hotel {
    flex: 1 300px;
    .margenes(10px, 0px);
}
  
  footer {
    padding: 10px 10px 0 10px;
    background-color: @negro;
    .margenes(10px, 0px);
    color: @blanco; }
  
  a, a:hover {
    text-decoration: none;
    color: @negro; }
  
  footer a, footer a:hover {
    text-decoration: none;
    color: @blanco; }
  
  .btn-reserva {
    width: 100%;
    border-radius: 0px; }
  
  .footer-address-icon {
    padding-right: 10px; }
  
  .card-img-top {
    padding-top: 10px;
    padding-bottom: 5px; }
  
  .carousel {
    width: 100%; }
  
  .carousel-item img {
    width: 100%; }
  
  .carousel {  
    .margenes(0px, 15px);
}
  
  .display-5 {
    color: aliceblue;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 2px 10px 2px 10px; }
  
  .carousel-indicators {
    bottom: 15%; }
  
  .tab-content {
    padding-top: 10px; }
  