.jumbotron {
  background-color: #fffa19;
  color: #34393F;
  margin-top: 50px;
  margin-bottom: 10px;
}
.card-hotel {
  flex: 1 300px;
  margin-top: 10px;
  margin-bottom: 0px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #34393F;
  margin-top: 10px;
  margin-bottom: 0px;
  color: #ffffff;
}
a,
a:hover {
  text-decoration: none;
  color: #34393F;
}
footer a,
footer a:hover {
  text-decoration: none;
  color: #ffffff;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.card-img-top {
  padding-top: 10px;
  padding-bottom: 5px;
}
.carousel {
  width: 100%;
}
.carousel-item img {
  width: 100%;
}
.carousel {
  margin-top: 0px;
  margin-bottom: 15px;
}
.display-5 {
  color: aliceblue;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 2px 10px 2px 10px;
}
.carousel-indicators {
  bottom: 15%;
}
.tab-content {
  padding-top: 10px;
}
